@import 'styles/components/_footer.scss';
@import 'styles/components/_header.scss';
@import 'styles/components/_article_preview.scss';

@import 'styles/layouts/_home.scss';
@import 'styles/layouts/_blog_page.scss';

p {
  font-family: "Lora",  serif;
}

/*For stick footer*/
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Lora", serif;
}
