.footer {
  position: absolute;
  border-top: 1px solid #e8e8e8;
  text-align: center;
  padding-top: 0.5em;
  right: 0;
  bottom: 0;
  left: 0; }

.Header {
  padding: 1em 0;
  margin: 0; }

.navbar {
  padding: 0;
  margin: 0; }

.Header a {
  color: #333333;
  text-decoration: none; }

.navbar-brand {
  font: bolder; }

/*Menu bar*/
#menu li a {
  text-decoration: none;
  padding: 1em 0.5em; }

.Home {
  margin-top: 3em; }

section {
  margin-bottom: 1.5em; }

section .bd-title {
  padding-bottom: 0.25em;
  border-bottom: 2px solid #e8e8e8; }

.Home .introduction .avatar {
  display: block;
  margin: 0 auto;
  width: 70%; }

.Home .introduction {
  display: grid;
  grid-gap: 0.75em; }

.Home .introduction .about h1 {
  text-align: left; }

.Home .introduction .about {
  padding: 1em 0; }

#my-name {
  font-family: "Playfair Display";
  font-weight: bolder;
  font-style: normal;
  font-variant: normal; }

/*Blog */
.Home .blog .summary a {
  color: inherit; }

.card p {
  padding: 0;
  margin: 0; }

/*Only available on Desktop */
.Home .Github {
  visibility: hidden; }

/* Social Icons */
/*Positioning */
#social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  list-style: none;
  max-width: 300px;
  margin: 0 auto;
  padding: 0em 0em; }

#social-icons a {
  display: block; }

#social-icons li {
  margin: 0 auto;
  width: 60%; }

#social-icons a:link, a:visited {
  text-decoration: none;
  background: transparent;
  border-style: none;
  -webkit-filter: invert(0%);
  filter: invert(0%); }

#social-icons a:hover {
  opacity: 1.0;
  -webkit-filter: invert(60%);
  filter: invert(60%); }

/* Allow SVG icon clickale */
#social-icons object {
  pointer-events: none; }

@media (min-width: 750px) {
  .Home .introduction {
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding-bottom: 1em; }
  .Home .introduction .about h3 {
    text-align: left;
    font-size: 2em; }
  /* Resize icons to a slighly smaller size*/
  #social-icons {
    max-width: 200px;
    margin: 0;
    padding: 0; }
  /*Adjust icons to the left*/
  #social-icons li {
    margin: 0;
    width: 60%; }
  .Home .Github {
    padding-top: 2em;
    visibility: visible; }
  .Home .Github svg {
    display: block;
    margin: 0 auto;
    font-size: 12px; } }

.BlogPage a {
  color: inherit; }

p {
  font-family: "Lora",  serif; }

/*For stick footer*/
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Lora", serif; }

/*Card Hover effects ( for blog, projects*/
.card:hover {
  box-shadow: 0.1em 0.1em 0.3em #aaaaaa;
  cursor: pointer; }
