/*Blog */
.summary a{
  color:inherit;
}
.card p{
  padding: 0;
  margin: 0;
}

/*Card Hover effects ( for blog, projects*/
.card:hover{
  // box-shadow: 0.1em 0.1em 0.3em #aaaaaa;
  background: #eee;
  cursor: pointer;
}


// Desktop UI
@media (min-width: 750px){
.card .card-img-top{
  width: 100%;
  height: 10vw;
  object-fit: cover;  }

}